@font-face{
  font-family:'steiner';
	src: url('C:/Users/JGSACKIN/Documents/stanshch/Steinerlight.ttf');
}

@font-face{
	font-family:'surrounding';
	src: url('C:/Users/JGSACKIN/Documents/stanshch/SurroundingBold.otf');
}
